body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

/* top bar */
.top-bar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8vh;
  z-index: 5;
  background: #3e3c3c;
  display: flex;
  align-items: center;
}

.nav-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.nav-items-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-item {
  color: white;
  text-decoration: none;
}
.nav-item:hover {
  text-decoration: underline;
  font-style: oblique;
  color: #f55800;
}
/* top bar */

/* first seciton */
.first {
  background: black;
  padding-top: 8vh;
  height: 92vh;
}

.background {
  position: absolute;
  right: 0;
  top: 0;
}

.title {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 255px;
  height: 40px;
  right: 200px;
  top: calc(50% - 40px / 2);
  left: 75%;
}

.intro {
  width: 400px;
  height: 160px;
  margin-left: 100px;
  margin-top: 150px;
  font-family: "Crete Round";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 90px;
  color: #f55800;
}

.p1 {
  color: white;
  margin-left: 100px;

  font-weight: 800;
  font-size: xx-large;
}

.p2 {
  color: white;
  margin-left: 100px;
  width: 500px;
  font-size: large;
}

#portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec-title {
  color: #091e42;
  font-size: xx-large;
  margin-top: 30px;
}

.project-1 {
  display: flex;
  margin-top: 40px;
  gap: 50px;
}

.genshin-photo {
  width: 45vw;
  object-fit: cover;
  border: 10px solid lightblue;
}

.project-1text {
  width: 350px;
  color: black;
}

.about-genshin {
  font-size: x-large;
}

.html {
  font-size: medium;
  border: 2px solid;
  display: inline-block;
  text-align: center;
  width: 45px;
}

.CSS {
  margin-left: 10px;
  font-size: medium;
  border: 2px solid;
  display: inline-block;
  text-align: center;
  width: 45px;
}

.javascript {
  margin-left: 10px;
  font-size: medium;
  border: 2px solid;
  display: inline-block;
  text-align: center;
  width: 75px;
}

.api {
  margin-left: 10px;
  font-size: medium;
  border: 2px solid;
  display: inline-block;
  text-align: center;
  width: 100px;
}

.button {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.btm {
  display: block;
  background-color: #f55800;
  color: white;

  border-radius: 10px;
  border: 2px solid;
  width: fit-content;
  text-decoration: none;
  padding: 10px;
}

.project-2 {
  display: flex;
  margin-top: 40px;
  gap: 50px;
}

.to-do {
  width: 45vw;
  object-fit: cover;
  border: 10px solid lightblue;
}

.project-2text {
  width: 350px;
  color: black;
  margin-left: 200px;
}

.third {
  background-color: black;
}

.about-team {
  margin-top: 100px;
  color: white;
  margin-left: 100px;
}

.img {
  margin-top: 100px;
  margin-left: 200px;
  height: 350px;
}

.fourth {
  background-color: black;
  margin: 0;
}

.language {
  color: #f55800;
  display: inline;
}
.bar {
  margin-left: 100px;
  color: white;
  width: 1150px;
  margin-top: 50px;
}

.footer {
  color: white;
  margin-top: 0px;

  list-style-type: none;
}

.teamimg {
  border: 2px solid black;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin-left: 50px;
  margin-top: 30px;
}

.name {
  font-size: x-large;
  margin-left: 90px;
}

.color {
  background-color: white;
}
